body {
    overflow: hidden;
    background-color:white;
	font-family: VT323, sans-serif;
}
.container {
    position: relative;
    top: 50vh;
    transform: scale(3.3); 
    animation: scale 3s infinite;
}
#playlist {
	margin: 50px;
}
p {
	margin: 5px 0;
}
.songs {
	cursor: pointer;
}
.pages p {
	position: relative;
	left: -20px;
}
.prev, .next {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	cursor: pointer;
	float: left;
	position: relative;
	top: 3px;
	padding: 0.5px;
	z-index: 10;
}
.prev {
	left: 40px;
	border-right:9px solid black; 
}
.next {
	border-left:9px solid black;
	left: 45px;
}

/*******/
/* SVG */
/*******/
svg {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    overflow: visible;
    z-index: -1;
}
circle {
    stroke: white;
}
#one {
	fill: transparent;
    stroke-width: 2px;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: one 3s alternate infinite ease-in-out;
}
#two {
    fill: transparent;
    stroke-width: 3px;
}
#three {
   fill: transparent;
}
#four {
	fill: transparent;
    stroke-width: 6px;
    stroke-dasharray: 1;
    animation: four 3s infinite;
    
}
#five {
	fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 80;
    animation: five 5s alternate infinite ease-in-out;
}
#six {
    fill: transparent;
    stroke-width: 1px;
}
#seven {
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
}
#eight {

}
@keyframes one {
    from {
        stroke-dasharray: 100;
        stroke-dashoffset: 500;
    }
    to {
        stroke-dasharray: 120;
        stroke-dashoffset: 0;
    }
}
@keyframes five {
    from {
        stroke-dasharray: 90;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 70;
        stroke-dashoffset: 300;
    }
}
@keyframes scale {
    0% {
        transform: scale(3.3);
    }
    25%,50% {
        transform: scale(3.5);
    }
    75% {
        transform: scale(3.3);
    }
}

@media only screen and (max-width: 600px) {
	.container {
		transform: scale(1.5);
	}
	
	@keyframes scale {
		0% {
			transform: scale(1.5);
		}
		25%,50% {
			transform: scale(1.7);
		}
		75% {
			transform: scale(1.5);
		}
	}
}