body {
    overflow: hidden;
    background-color:white;
	font-family: VT323, sans-serif;
}
#container {
    position: relative;
    top: calc(50vh - 45px);
    transform: scale(3.3); 
    animation: scale 3s infinite;
	animation-play-state: paused;
	filter:grayscale(1);
}
#intro {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%) scale(1);
	z-index: 50;
	background-color: black;
	color: white;
	padding: 25px 50px;
	margin: auto;
	width: 600px;
	transition: 0.3s;
	transition-timing-function: cubic-bezier(.76,-0.3,.77,1.36);
	transform-origin: 50% 47.5%;
}
#intro div {
	display: inline-block;
	margin: 25px auto;
	text-align: center;
	width: calc(32.5%);
}
#intro h1 {
	margin: 5px 0;
}
#intro h2 {
	padding: 8px 50px;
	border: 2px solid white;
	display: inline-block;
}
#intro p {
	position: absolute;
	right: 5px; 
	top: 5px;
}
i {
	margin-top: 20px;
	font-size: 1.5rem;
	border: 2px solid white;
	padding: 10px 12px;
}
.fa-volume-off {
	padding: 10px 20px;
}
#now-playing h3, #volume, #volume p, .arrows {
	display: inline-block;
}
#volume {
	position: relative;
	top: 3px;
}
#volume .fa-volume-off {
	font-size: 1.2rem;
	padding: 8px 8px 8px 8px;
}
#volume p {
	position: relative;
	top: -2px;
	left: -8px;
}
.arrows i {
	position: relative;
	top: -2px;
	left: 2px;
	font-size: 0.8rem;
	padding: 2px !important;
	margin: 0 -5px !important;
}
	
/************/
/* PLAYLIST */
/************/

#playlist {
	margin: 50px;
}
p {
	margin: 0 0 !important;
	padding: 2px 0 !important;
    font-size: 1.1rem;
    user-select: none;
}
.songs {
	position: relative;
	left: 0;
	transition: 0.1s;
	width: 300px;
}
.songs:hover {
	left: 5px;
}

/*******/
/* SVG */
/*******/
svg {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    overflow: visible;
    z-index: -1;
}
circle {
    stroke: white;
}
#one {
	fill: transparent;
    stroke-width: 2px;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: one 3s alternate infinite ease-in-out;
	animation-play-state: paused;
}
#two {
    fill: transparent;
    stroke-width: 3px;
}
#three {
   fill: transparent;
}
#four {
	fill: transparent;
    stroke-width: 6px;
    stroke-dasharray: 1;
    animation: four 3s infinite;
    
}
#five {
	fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 80;
    animation: five 5s alternate infinite ease-in-out;
	animation-play-state: paused;
}
#six {
    fill: transparent;
    stroke-width: 1px;
}
#seven {
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
}
#eight {
	filter: grayscale(1);
}
text {
	transition: 0.2s;
	transition-timing-function: cubic-bezier(.28,.08,.77,1.36);
	transform-origin: 50% 47.5%;
}
@keyframes one {
    from {
        stroke-dasharray: 100;
        stroke-dashoffset: 500;
    }
    to {
        stroke-dasharray: 120;
        stroke-dashoffset: 0;
    }
}
@keyframes five {
    from {
        stroke-dasharray: 90;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 70;
        stroke-dashoffset: 300;
    }
}
@keyframes scale {
    0% {
        transform: scale(3.3);
    }
    25%,50% {
        transform: scale(3.5);
    }
    75% {
        transform: scale(3.3);
    }
}

/***************/
/* MEDIA QUERY */
/***************/

@media only screen and (max-width: 600px) {
	.container {
		transform: scale(1.5);
	}
	
	@keyframes scale {
		0% {
			transform: scale(1.5);
            filter: brightness(1.1);
		}
		25%,50% {
			transform: scale(1.7);
            filter: brightness(1);
		}
		75% {
			transform: scale(1.5);
		}
	}
}